@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/InterVariableFont.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'InterItalic';
  src: url('/fonts/Inter/InterItalicVariableFont.ttf');
  font-style: italic;
}

html, body {
  font-family: Inter;
  margin: 0;
  padding: 0;
}
